footer {
  visibility: hidden;
}
.resize-triggers > div {
  background: burlywood;
}
h1 {
  text-align: center;
}
#linha-do-tempo-carreira {
  text-align: center;
}
.stPath > Path {
  color: 808080;
}
div.st-bd.st-be.st-bx.st-by.st-bz.st-b4.st-c0.st-c1.st-bf.st-c2.st-c3.st-c4.st-c5: hover {
  border-color: black;
  border-radius: 8px;
  background-color: gray;
}
button.css-ns78wr.edgvbvh1 {
  text-align: center;
  border-color: black;
}
div.css-o1jpvw.e19lei0e1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
th {
  background: #6495ed;
}
a.css-1awrltj.e16nr0p32{
  font-family: arial;
}